.shop-item-container {
    border-radius: 12px;
    overflow: hidden;
    transition: background-color .3s;
    border: 1px solid #B3BFCC;
    height: 100%;
    position: relative;
}
.shop-item-container:hover {
    background-color: #d9e5e9;
}
.shop-item-img {
    width: 100%;
}
.shop-item-name, .shop-item-container p {
    margin: 0 0 12px;
}
.shop-item-content {
    padding: 20px 20px 65px;
}
.shop-item-button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.shop-item-button-add {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #002856;
    background-color: #e08594;
    cursor: pointer;
}
.button-done {
    background-color: mediumseagreen;
    cursor: auto;
}
h3, p, .shop-item-button-add {
    font-family: "Noto Sans";
}