.shop-item-container {
    border-radius: 12px;
    overflow: hidden;
    transition: background-color .3s;
}
.shop-item-container:hover {
    background-color: #d9e5e9;
}
.shop-item-img {
    width: 100%;
}
.shop-item-content {
    padding: 20px;
}
.shop-item-button-container {
    display: flex;
    justify-content: center;
}
.shop-item-button-add {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #002856;
}
h3, p, .shop-item-button-add {
    font-family: "Noto Sans";
}