.shop-list-container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.item-cart {
    text-decoration: none;
    color: black;
}